* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}
body {
  background-image: url("./asset/foAzXC.png");
}

.main-div {
  margin: 0 200px;
  margin-top: 100px;
  width: 50%;
  text-align: center;
}
.main-div h1 {
  margin-bottom: 20px;
  font-size: 40px;
}
.main-div h3 {
  font-size: 25px;
  display: inline;
  margin-right: 10px;
}
.div-btn {
  margin-top: 10px;
}
.btn {
  width: 150px;
  padding: 10px;
  background-color: orange;
}
.btn:hover {
  cursor: pointer;
}

.next-btn {
  background-color: black;
  color: white;
  margin: 20px 0 40px 0;
  width: 70px;
  padding: 10px;
}
.play-btn{
  background-color: black;
  color: white;
  padding: 10px;
}
#gambar {
  margin: 30px 0;
}
